
/* login form design */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  /* background: #05b09192; */
}

#bodylogin {
  background: linear-gradient(150deg, #b316cfe7, hsl(296, 77%, 52%));

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #ffffff5d;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
  display: none;
}

#check:checked~.registration {
  display: block;
}

#check:checked~.login {
  display: none;
}

#check {
  display: none;
}

.container .form {
  padding: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
align-items: center;
  
}
#btlogin
{
  margin:00px;
}

.form input.button:hover {
  background: #006653;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: #009579;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}

.userinfo {
  color: hsla(0, 97%, 56%, 0.934);
  text-shadow: 2px 2px rgb(15, 12, 9);
  font-family: monospace;
  font-size: 20px;
}

/* contact desing */
.contact {
  width: 500px;
  height: 200px;
  background-color: #139d84;
  padding: 100px;
}

/* first index page  */
* {
  padding: 0;
  margin: 0;

}

.mainpart {
  display: flex;
  justify-content: space-around;

}

.part1 {
  width: 100%;
  height: 830px;
  background: linear-gradient(350deg, #53b4b4e7, hsl(348, 54%, 67%));

}

.part2 {
  width: 800px;
  height: 830px;
  background: linear-gradient(190deg, #6ecfcfe7, hsl(350, 67%, 76%));
}

.divlogo {
  width: 160px;
  height: 110px;
  margin-left: 100px;
  margin-top: 35px;
  background-image: url("strangerlogo.png");
  background-size: cover;
  filter: drop-shadow(15px 10px 8px rgb(0, 0, 0));
}

.logindiv {
  width: 500px;
  height: 100px;
  margin-left: 200px;
  margin-top: 170px;
}

.a1 {
  color: wheat;
  text-decoration: none;
}

.log {

  width: 170px;
  height: 35px;
  border-radius: 5px;
  background-color: #e61f1f;
  font-size: 17px;
  color: wheat;
  font-family: monospace, Helvetica, sans-serif;
  border: none;
  margin-left: 5px;
}

#heading {

  margin-left: 79px;
  font-family: monospace, Helvetica, sans-serif;

}

.wrapper {
  display: flex;
  font-family: 'Poppins', sans-serif;

}

.wrapper .static-txt {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 27px;
}

.wrapper .dynamic-txts {
  margin-left: 10px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  list-style: none;
  color: #f32c2c;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 20px;
  height: 50px;
  width: 160px;

  background: linear-gradient(360deg, #168383e7, hsl(347, 56%, 53%));

  border-left: 2px solid #e61f1f;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .newlogo {
  color: #000;
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}

.newlogo img {
  width: 43px;
  border-radius: 50%;
}

.newlogo .username {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 15px;
  margin-top: 5px;
  display: none;
  color: #01061d;
}

.sidebar:hover .newlogo .username {
  display: block;
}

.sidebar .links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
  display: none;
}

.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
}

.links li:hover {
  cursor: pointer;
  background: #fff;
}

.links h4 {
  color: #222;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
}

.sidebar:hover .links h4 {
  display: block;
}

.links hr {
  margin: 10px 8px;
  border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
  border-color: transparent;
}

.links li span {
  padding: 12px 10px;
  color: #000622;
}

.links li a {
  padding: 10px;
  color: #000622;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar:hover .links li a {
  display: block;
}

.links .logout-link {
  margin-top: 20px;
}


/* toggle button */


.button-box {
  width: 252px;
  margin-left: 835px;
  position: relative;
  border-radius: 30px;
  background: #fff
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color: #050132;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  background: #e67e22;
  border-radius: 30px;
  transition: .5s;
}


/* responsive website code */

.theme-button-box {
  cursor: pointer;

  width: 40px;
  margin-left: 5px;
  position: relative;
  border-radius: 10px;
  background: #fff
}

.theme-toggle-btn {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #050132;
  padding: 0px 1px;

}

#themebtn {
  cursor: pointer;
  left: 0;
  top: 0;
  position: absolute;
  width: 17px;
  height: 17px;
  padding-bottom: 10px;
  background: #e67e22;
  border-radius: 10px;
  transition: .5s;
}


/* message form */

/* Style inputs with type="text", select elements, and textareas */
