@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
   
}

:root {
    --primary-color: #ff8882;
    --black-color: #0E2431;
    --white-color: #fff;
}

body {
    /* font-family:'ubuntu',sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgb(35, 33, 45);
}

/* scrollbar style */


/* navbar */
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;

}

.logo img {
    width: 180px;
    background-size: cover;
    background: none;
    margin-bottom: 10px;


}

.menu {
    width: 350px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    font-size: xx-large;
    color: rgba(255, 255, 255, 0.986);
    list-style-type: none;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.search {
    padding: 10px;
    color: #e6e6e6;
}

.searchfield {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.707);
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    height: 35px;
    color: rgb(235, 228, 221);
    border-style: none;
    margin-top: 10px;
}

.hero {
    margin: 150px;
    margin-left: 120px;

}

.mainhead {
    color: rgb(255, 221, 49);
    font-size: 50px;
    font-variant-ligatures: contextual;
}

.hero p {
    color: rgb(251, 251, 250);
    font-size: 23px;
    padding: 5px;

}

.heading {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

#iam {
    margin-top: 20px;
}

.herosection {
    display: flex;
    justify-content: space-around;


}

.section1 {
    background-color: rgba(45, 46, 46, 0.864);
    height: 550px;

}

.hero-img img {
    width: 450px;
    height: 500px;
    margin-right: 30px;



}

.about h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

#adouthead {
    color: rgb(255, 221, 49);
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 48px;
    font-size: large;

}

.sec1 {}

.about {
    margin: 80px;
    padding: 20px;
    color: rgb(255, 221, 49);
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

}

.infoid {
    font-size: xx-large;
    color: #fcffa4;

}

.img_section1 {
    width: 400px;
    height: 350px;
    background-color: rgba(183, 214, 203, 0.126);
    border-radius: 10px;

}

.img_section1 img {
    width: 380px;
    height: 400px;
    background-repeat: round;
    align-items: center;
}

.infosection1 {
    padding-right: 20px;
    width: 600px;
    height: 600px;
    background-color: rgba(183, 214, 203, 0.072);
    border-radius: 10px;
}

.about p {
    margin-left: 50px;
    margin-top: 20px;
    color: #e6e6e6
}

.About_sec_info {
    display: flex;
    justify-content: space-evenly;
}

.skill {}

.skill h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: white;
}

.skill-subject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 72%;
    margin-left: 175px;

}

.subject:hover {
    background-color: rgb(255, 185, 88);
}

.subject {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: #69696950;
    margin: 10px;
}

.subject img {
    width: 70px;
    margin-left: 60px;
    margin-top: 20px;

}

.subject p {
    color: white;
    text-align: center;
    margin-top: 35px;
}

.second-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 55%;
    margin-left: 280px;
}

.btn-more {
    width: 150px;
    height: 35px;
    background-color: rgb(255, 185, 88);
    border-radius: 10px;
    margin-left: 44%;
    border-width: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-contact {
    width: 150px;
    height: 40px;
    background-color: transparent;
    ;
    border-radius: 7px;
    ;
    border-color: rgb(255, 221, 49);
    font-size: 20px;
    color: rgb(255, 221, 49);
    margin-top: 20px;
    margin-left: 5px;
    border-width: 3px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 185, 88);


}

.third-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 35%;
    margin-left: 380px;
}

.circle-div {
    display: flex;
    margin-left: 70%;
    width: 200px;
    justify-content: space-between;
    padding-top: 50px;

}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 50px;
}

.project1 {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #69696950;
    margin: 10px;
}

/* 
java page */

.subject_menu {
    width: 250px;
    background-color: #0000ff;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    display: block;
    font-size: small;
    color:white;

}
.headlist li:hover{

    color:#0E2431;
    
}
.headlist li {
    list-style-type: square;
    padding: 7px;
    margin-left: 30px;
    color:white;
}

.subinfo {
    color:black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 255px;
    max-width:100%;
    padding: 25px;
    display: inline-block;
    font-size: small;
    max-height: 100%;
}
section{

    line-height: 25px;
    line-break: 20px;
   

}



